* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root 
{
  --clr: #222327;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: var(--clr);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.navigation {
  width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #7E7F84;
}
.navigation ul {
  display: flex;
  width: 350px;
  position: fixed;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #000;
}
p {
  text-align: center;
  justify-content: center;
  color: #1390CB;
  margin: 20px;
  font-size: 30px;
  font-weight: 800;
}
strong {
  color: #13CB7B;
}
 .principal {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
 .principal h2 {
   color: #fff;
   font-size: 25px;
   
   
 }
 .principal .links a {
   color: #fff;
   padding: 10px 18;
   display: inline-block;
   border: 1px solid #fff;
   border-radius: 3px;
   margin-top: 20px;
   transition: 200ms;
 }
 .principal .links a:hover {
   color: #444;
   background: #fff;
 }